name: update-node-versions

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  update-node-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: "."
      - uses: peter-evans/create-pull-request@v4
